<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li>
          <div class="dropdown show">

            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="" alt="" class="user-data">
              Vũ Dương
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="nav-link" href="../courses/create">Create course</a>
              <div class="dropdown-divider"></div>
              <a class="nav-link" href="../search">Search course</a>
              <a class="nav-link" href="../me/store/course">My course</a>
              <a class="nav-link" href="../news">News course</a>
              <div class="dropdown-divider"></div>
              <a class="nav-link" href="#">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>